app_name: app0

# rack: foobar0
# instances:
#     type: t2.small
#     count: 3
# apps:
#     - repository: https://github.com/zeroed/convoxsinatraredis
#       name: app0
#       development:
#           branch: 'veyronify'
#       test:
#           branch: 'veyronify'
#       production:
#           branch: 'master'
